<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steven.avgraphics">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DrawImageActivity" />
        <activity android:name=".activity.AudioActivity" />
        <activity
            android:name=".activity.HWCodecActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.Camera2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.OpenSLActivity" />
        <activity android:name=".activity.gles.JavaTriangleActivity" />
        <activity android:name=".activity.OpenGLActivity" />
        <activity android:name=".activity.gles.JniTriangleActivity" />
        <activity android:name=".activity.gles.EGLCircleActivity" />
        <activity android:name=".activity.gles.VaoVboActivity" />
        <activity android:name=".activity.gles.MatrixTransformActivity" />
        <activity android:name=".activity.gles.TextureImageActivity" />
        <activity android:name=".activity.gles.FboActivity" />
        <activity
            android:name=".activity.gles.GLCameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.gles.BeautyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity
            android:name=".activity.FFmpegActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.gles.WatermarkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>